@media (min-width: 200px) {
	    .navbar {display: inline;
	    background-color: seashell}
	}
	
	html {position: relative;
	    min-height: 110%;
	    
	}
	
	.navbar {background-color: white;}
	
	.navbar-brand {background-color: rgba(4, 0, 255, 0.959); color: white}
	
	body {background-color: rgb(117, 178, 189)}
	
	.col-md-7 {
	    background-color:whitesmoke ;
	    height: 500px;
	    width: 700px
	}
	
	.col-md-8 {
	    background-color:whitesmoke ;
	    height: 700px;
	    width: 700px;
	    margin: 10px
	}
	
	.col-md-3 {
	    background-color: whitesmoke;
	    height: 600px;
	    width: 500x;
	    margin: 10px
	}
	
	.col-md-12 {background-color: whitesmoke;
	    width: 940px
	    
	}
	
	h1 {color: rgba(4, 0, 255, 0.959) }
	
	p {color: rgba(230, 30, 63, 0.822); font-family: "verdana"}
	
	.col-md-5 {background-color: rgb(117, 178, 189);
	            height: 400px;
	            width: 430px;
	            margin: 10px;
	            align: center
	}
	
	h2 {font-size: 20px; 
	    color:rgba(4, 0, 255, 0.959)
	
	}
